* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cabin', sans-serif;
}

header {
    padding-top: 40px;
}

.wrapper {
    width: 1440px;
    margin: 0px auto;
}

.nav-logo img {
    width: 40px;
    height: 40px;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px ;
}

.nav-logo span {
    color: #0E0F13;
    font-size: 28px;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 56px;
}

.nav-item a {
    color: #0E0F13;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.sign-in {
    color: #0E0F13;
    background-color: #fff;
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    font-size: 18px;
    font-weight: 500;
}

.sign-up {
    color: #F6FDFF;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    padding: 18px 22px;
    font-size: 18px;
    font-weight: 500;
}

.main-title {
    width: 477px;
    margin: 145px auto 0px auto;
    text-align: center;
}

h2 {
    font-size: 64px;
    font-weight: 500;
}

.main-title p {
    color: #7F828A;
    font-weight: 400;
    font-size: 22px;
    margin-top: 24px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    margin-top: 120px;
}

.card-starter,
.card-pro,
.card-enterprice {
    width: 416px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    padding: 56px;
}

.card-pro {
    border: 1px solid #161A34;
    background-color: #161A34;
}


.card-starter-title {
    text-align: center;
}

.card-starter-title h3{
    color: #0E0F15;
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
}

.card-starter-title p{
    margin-top: 27px;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 27.5px;
}

.card-starter-price {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.card-starter-price p {
    font-size: 64px;
    font-weight: 500;
    line-height: 80px;
    margin-left: 64px;
}

.card-starter-price span {
    color: #7F828A;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
}

.card-starter-list {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-item {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.list-item img {
    height: 24px;
    width: 24px;
}

.list-item li {
    color: #7F828A;
    font-weight: 400;
    font-size: 22px;
    line-height: 27.5px;
}

.card-button {
    margin-top: 125px;
    text-align: center;
    
}

.card-button a {
    padding: 18px 22px;
    background-color: #425DF8;
    color: #F6FDFF;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.87px;
}

.card-pro .card-button {
    margin-top: 97px;
}

.card-pro h3,
.card-pro p,
.card-pro span,
.card-pro li{
    color: #F6FDFF;
}

.card-enterprice-price {
    margin-top: 27px;
    text-align: center;
}

.card-pro h3 {
    line-height: 80px;
}

footer {
    font-family: 'Inter', sans-serif;
    margin-top: 255px;
    border-top: 1px solid #0E0F13;
    padding: 16px 52px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    gap: 16px;
}

.footer-logo img {
    width: 24px;
    height: 24px;
}

.footer-logo span,
.footer-copyright span {
    color: #7F828A;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
